body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
    text-decoration: none;
    color:#333;
}
img{
	border: none;
}
//top
#top{
    width: 100%;
    height: 110px;
    img{
        width: 100%;
        height: 110px;
    }
}
// nav
#nav{
    width: 100%;
    height: 62px;
    background-color:#232323;
    font-size: 14px;
    #navMain{
        width: 1020px;
        height: 62px;
        margin: 0 auto;
        .left{
            float: left;
        }
        .top {
            font-size: 14px;
            height:62px;
            display:flex;
            margin:0 auto;
            padding-left: 200px;
        }
        .top>li {
            width: 80px;
            height:62px;
            text-align:center;
            line-height:62px;
        }
        .top>li>a {
            color:#fff;
            text-decoration:none;
        }
        .topChild {
            width: 100px;
            height: 30px;
            transition:all .5s;
            transform:rotateX(-90deg);
            transform-origin:left top;
            opacity:0;
            position: absolute;
            z-index: 10000;
        }
        .topChild li {
            width:100%;
            background:orange;
            color:#fff;
            cursor:pointer;
        }
        .top li:hover{
            background-color: orange;
        }
        .top li:hover .topChild {
            transform:rotateX(0deg);
            opacity:1;
        }
    }
}
//banner
#banner {
    width: 100%;
    height: 420px;
    margin: 0px auto 0;
    position: relative;
    overflow: hidden;
}

#banner .pic {
    width: 100%;
    height: 100%;
    position: relative;
}

#banner .pic ul li {
    cursor: pointer;
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none
}

#banner .pic ul li img {
    display: block;
    width: 100%;
    height: 100%;
}

#banner .pic ul li.first {
    display: block
}


#banner .picnav {
    display: block;
    width: 100%;
    height: 70px;
    padding: 0px;
    margin: auto;
    position: absolute;
    bottom: 0;
    background-color:rgba(0,0,1,0.8);;

}

.oinner {
    width: 84%;
    margin: auto;
}

#banner .picnav ul {
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1020;
}

#banner .picnav ul {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

#banner .picnav ul li {
    width: 20%;
    margin: 0 10px;
    pointer-events: auto;
    cursor: pointer;
    float: left;
    list-style: none;
}

#banner .picnav ul li img {
    width: 100%;
    max-height: 100%
}

#banner .picnav ul li.active {
    border: 2px solid #ffd200;
}


// section
#section{
    width: 100%;
    height: 350px;
    background-color: #f5f5f5;
    position: absolute;
    #sectionMain{
        width: 1010px;
        height: 340px;
        margin: 0 auto;
        .top{
            width: 100%;
            height: 35px;
        }
        .bottom{
            width: 100%;
            height: 305px;
            float: left;
            .product{
                width: 260px;
                height: 287px;
                float: left;
                margin-left: 5px;
                border-right: 2px solid white;
                .img{
                    width: 260px;
                    height: 127px;
                }
                .content{
                    width: 260px;
                    height: 127px;
                    h3{
                        height: 30px;
                        text-align: center;
                    }
                    h4{
                        height: 43px;
                        text-align: center;
                        font-weight: normal;
                    }
                    p{
                        height: 54px;
                        text-align: center;
                        color: #a3bccd;
                    }
                }
            }
            .learn{
                width: 253px;
                height: 287px;
                float: left;
                border-right: 2px solid white;
                .img{
                    width: 253px;
                    height: 127px;
                }
                .content{
                    width: 253px;
                    height: 127px;
                    h3{
                        height: 30px;
                        text-align: center;
                    }
                    h4{
                        height: 43px;
                        text-align: center;
                        font-weight: normal;
                    }
                    p{
                        height: 54px;
                        text-align: center;
                        color: #a3bccd;
                    }
                }
            }
            .study{
                width: 250px;
                height: 287px;
                float: left;
                border-right: 2px solid white;
                .img{
                    width: 250px;
                    height: 127px;
                }
                .content{
                    width: 250px;
                    height: 127px;
                    h3{
                        height: 30px;
                        text-align: center;
                    }
                    h4{
                        height: 43px;
                        text-align: center;
                        font-weight: normal;
                    }
                    p{
                        height: 54px;
                        text-align: center;
                        color: #a3bccd;
                    }
                }
            }
            .innovate{
                width: 227px;
                height: 287px;
                float: left;
                .img{
                    width: 227px;
                    height: 127px;
                }
                .content{
                    width: 227px;
                    height: 127px;
                    h3{
                        height: 30px;
                        text-align: center;
                    }
                    h4{
                        height: 43px;
                        text-align: center;
                        font-weight: normal;
                    }
                    p{
                        height: 54px;
                        text-align: center;
                        color: #a3bccd;
                    }
                }
            }
        }
    }
}

// news
#news{
    width: 100%;
    height: 308px;
    position: absolute;
    top: 946px;
    #newsMain{
        width: 1012px;
        height: 308px;
        margin: 0 auto;
        font-size: 14px;
        .top{
            width: 100%;
            height: 30px;
        }
        .middle{
            width: 100%;
            height: 224px;
            .left{
                float: left;
                margin-right: 10px;
            }
            .m{
                width: 320px;
                height: 224px;
                float: left;
                border-right: 1px solid #eeeeee;
                h2{
                    height: 27px;
                }
                .a1{
                    height: 40px;
                    line-height: 40px;
                }
                p{
                    height: 36px;
                    font-size: 12px;
                    text-indent: 24px;
                    border-bottom: 1px dotted #eee;
                }
                .a2{
                    height: 26px;
                    line-height: 26px;
                }
            }
            .right{
                margin-left: 10px;
                text-indent: 10px;
                h2{
                    height: 27px;
                    margin-bottom: 5px;
                }
                a{
                    display: inline-block;
                    width: 80px;
                    height: 25px;
                    background-color: orange;
                    text-align: center;
                    line-height: 25px;
                    color: white;
                }
                .p1{
                    margin-top: 10px;
                    height: 41px;
                    line-height: 41px;
                    font-size: 24px;
                    margin-bottom: 20px;
                    color: #666;
                }
                .p2{
                    height: 120px;
                    color: #666;
                }
            }
        }
        .bottom{
            width: 100%;
            height: 54px;
        }
    }
}

// bottom
#bottom{
    width: 100%;
    height: 214px;
    background-color: #222;
    position: absolute;
    top: 1254px;
    #bottomMain{
        width: 1012px;
        height: 214px;
        margin:0 auto;
        .left{
            padding-top: 30px;
            width: 493px;
            height: 214px;
            font-size: 12px;
            float: left;
            .s1{
                float: left;
                margin-right: 70px;
                margin-left: 10px;
                p{
                    width: 48px;
                    height: 36px;
                    color: white;
                }
                a{
                    width: 48px;
                    height: 24px;
                    line-height: 24px;
                    color: #999;
                }
            }
            .s2{
                float: left;
                margin-right: 70px;
                p{
                    width: 48px;
                    height: 36px;
                    color: white;
                }
                a{
                    width: 48px;
                    height: 24px;
                    line-height: 24px;
                    color: #999;
                }
            }
            .s3{
                float: left;
                margin-right: 70px;
                p{
                    width: 48px;
                    height: 36px;
                    color: white;
                }
                a{
                    width: 48px;
                    height: 24px;
                    line-height: 24px;
                    color: #999;
                }
            }
            .s4{
                float: left;
                p{
                    width: 48px;
                    color: white;
                    height: 36px;
                }
                a{
                    width: 48px;
                    height: 24px;
                    line-height: 24px;
                    color: #999;
                }
            }
        }
        .right{
            float: left;
            padding-top: 10px;
            .weix{
                width: 195px;
                height: 214px;
                float: left;
                margin:0 auto;
                margin-left: 120px;
                img{
                    margin-left: 20px;
                }
                span{
                    text-align: center;
                    width: 100%;
                    display: block;
                    line-height: 18px;
                    font-size: 12px;
                    color: #464646;
                }
            }
            .gongz{
                width: 195px;
                height: 214px;
                float: left;
                img{
                    margin-left: 20px;
                }
                span{
                    text-align: center;
                    width: 100%;
                    display: block;
                    line-height: 18px;
                    font-size: 12px;
                    color: #464646;
                }
            }
        }
    }
}

// footer
#footer{
    width: 100%;
    height: 44px;
    position: absolute;
    top: 1468px;
    background-color: black;
    color: #999;
    font-size: 12px;
    line-height: 44px;
    text-align: center;
}